@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caseta {
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin-bottom: 24px;
  width: 320px;

  img {
    margin: 16px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
  }

  .date {
    font-size: 10px;
    line-height: 150%;
    text-align: right;
    color: #969696;
    margin-right: 16px;
  }

  .info {
    display: flex;
    flex-direction: column;
    flex: 1;

    .job {
      font-size: 10px;
      line-height: 150%;
      color: #969696;
    }
  }
}
