@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&family=Khula:wght@400;600;700&family=Lora:wght@400;700&family=Mulish:wght@300;400;600;700&family=Roboto:ital,wght@0,400;1,500&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Khula", sans-serif; }

.container {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 8px; }
  .container .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #1c1f37;
    margin: 16px 10px 0px 24px; }
    .container .title span {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: #017efa;
      margin-left: 160px; }
  .container .line {
    display: flex;
    opacity: 0.5;
    border: 1px solid #dadada;
    max-width: 100%;
    height: 0px;
    margin-top: 15px; }
  .container .info {
    font-weight: 600;
    font-size: 28px;
    line-height: 45px;
    color: #1c1f37;
    margin: 10px 12px 0px 24px; }
    .container .info .procent {
      font-weight: 700;
      font-size: 10px;
      line-height: 16px;
      color: #30d988; }
    .container .info span {
      font-weight: 600;
      font-size: 10px;
      line-height: 16px;
      color: rgba(28, 31, 55, 0.58); }
  .container .progress-bar {
    display: flex;
    margin: 10px 24px 24px 24px; }
    .container .progress-bar .facebook-bar {
      width: 52px;
      height: 10px;
      background: #017efa;
      border: 1px solid #ffffff;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .container .progress-bar .instagram-bar {
      width: 177px;
      height: 10px;
      background: #fd1f9b;
      border: 1px solid #ffffff; }
    .container .progress-bar .linkedin-bar {
      width: 83px;
      height: 10px;
      background: #007ab5;
      border: 1px solid #ffffff; }
    .container .progress-bar .youtube-bar {
      width: 37px;
      height: 10px;
      background: #ff0000;
      border: 1px solid #ffffff;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
  .container .details {
    display: grid;
    margin: 25px; }
    .container .details .line {
      opacity: 0.5;
      border: 1px solid #dadada;
      width: 100%;
      height: 0px;
      margin-bottom: 12px; }
    .container .details img {
      margin-right: 14px; }
    .container .details .visitor {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: #313131; }
    .container .details span {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: #313131; }
    .container .details .facebook {
      display: flex;
      justify-content: space-between;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: #017efa;
      margin-bottom: 12px; }
      .container .details .facebook .face {
        display: flex; }
    .container .details .instagram {
      display: flex;
      justify-content: space-between;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: #fd1f9b;
      margin-bottom: 12px; }
      .container .details .instagram .insta {
        display: flex; }
    .container .details .linkedin {
      display: flex;
      justify-content: space-between;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: #007ab5;
      margin-bottom: 12px; }
      .container .details .linkedin .link {
        display: flex; }
    .container .details .youtube {
      display: flex;
      justify-content: space-between;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: #ff0000;
      margin-bottom: 12px; }
      .container .details .youtube .tube {
        display: flex; }

/*# sourceMappingURL=tema%2012%20figma.css.map */
